 body{

background:#f5f6fc;

font-family:'Segoe UI',sans-serif;

padding:50px;


}

.container{


max-width:900px;

margin:auto;


}

h1{


color:#18104a;

margin-bottom:25px;


}

.details-card{


background:white;

padding:35px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.08);


}

.details-card h3{


color:#5b3df5;

margin-top:20px;


}

.details-card p{


color:#374151;

line-height:1.8;


}

.back-btn{


display:inline-block;

margin-top:25px;

background:#5b3df5;

color:white;

text-decoration:none;

padding:12px 20px;

border-radius:10px;


}

.details-btn{


display:inline-block;

margin-top:15px;

background:#5b3df5;

color:white;

text-decoration:none;

padding:10px 15px;

border-radius:8px;


}
